<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#Hcontent},~{::title},~{::script})}">

<head>
    <title data-th-text="${loggedInUser.name }  +' | Profile'">Profile page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>

<body class="dark:bg-black dark:text-white ">

    <div id="Hcontent">
        <div>
            <div th:if="${loggedInUser}">
                <div data-th-replace="~{user/Sidebar :: sidebar}"></div>
            </div>
        </div>

        <div class="p-1  sm:ml-64">
            <div class="p-2 border-2 border-gray-200 border-gray-100 rounded-lg dark:border-gray-700">
                <div >
                    <div class="flex items-center justify-center h-48  rounded bg-gray-50 dark:bg-gray-800">
                        <h1>Welcome to Random page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        console.log("Home page!")
    </script>
</body>

</html>