<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Service</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>

<body>
    <div class="h-screen" id="content">
        <h1>This is Services page</h1>
        <h2>Services offered by Ai Image</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis a enim!F</p>
    </div>
    <script>
        console.log("Service page!")
    </script>
</body>

</html>