<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Contact</title>
</head>

<body>
    <div class="parent-fragment" id="content">
        <h1>This is Contact Page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil labore minima est deserunt fugiat! Quia quisquam exercitationem enim natus eligendi quidem voluptatum molestias!</p>
    </div>
    <script>
        console.log("About haaa!")
    </script>
</body>

</html>