<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Error</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>

<body>
    <div id="content" class="bg-gray-200 dark:bg-gray-800 sm:w-1/2 p-4 mx-auto m-4 space-y-4 h-screen items-center dark:shadow-white">
        <div>
            <div sec:authorize="isAuthenticated()">
                <div data-th-replace="~{user/sidebar :: f-sidebar}"></div>
            </div>
        </div>
        <h1>There was an error in the application...</h1>
        <br>
        <p><strong>Status:</strong> <span th:text="${status}"></span></p>
        <p><strong>Error:</strong> <span th:text="${error}"></span></p>
        <p><strong>Message:</strong> <span th:text="${message}"></span></p>
        <p><strong>Path:</strong> <span th:text="${path}"></span></p>
        <p><strong>Timestamp:</strong> <span th:text="${timestamp}"></span></p>
    </div>
    <script>
        console.log("Error page!")
    </script>
</body>

</html>
