<nav data-th-fragment="navbar" class="bg-white border-gray-200 border-gray-90000 shadow-sm dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a data-th-href="@{/home}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <!-- <img data-th-src="@{./images/logo.png}" class="h-8 shadow rounded-full" alt="SCM Logo" /> -->
             
            <!-- <img data-th-src="@{'https://res.cloudinary.com/dr51duewu/image/upload/v1737741333/ai-gallery-svgrepo-com_toqlg5.svg'}" class="h-8 " alt="AI Gallery Logo" /> -->

            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
<svg width="60px" class="dark:bg-transparent rounded-sm dark:fill-black" height="60px" viewBox="0 0 48 48"
    xmlns="http://www.w3.org/2000/svg">
    <defs>
        <style>.a{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
        
    </defs>
    <path class="a dark:stroke-white stroke-gray-900" d="M18.25,18.0882l9.9756,18.2505c.9561,1.7492,1.1131,3.1695-.8831,3.1726L6.3775,39.544c-1.35.0021-2.43-.8761-1.57-2.453L15.1757,18.0882C16.3223,15.9867,17.7365,17.1484,18.25,18.0882Z"/>
    <path class="a dark:stroke-white stroke-gray-900" d="M25.0422,30.5142l6.5851-8.8282L43.5,39.4459l-16.1573.0654"/>
    <path class="a dark:stroke-white stroke-gray-900" d="M16.5821,21.8168l-4.1865,9.3215,8.7.0654Z"/>
    <path class="a dark:stroke-white stroke-gray-900" d="M8.8635,39.54,10.27,35.6846h12.494l2.0283,3.8307"/>
    <path class="a dark:stroke-white stroke-gray-900" d="M31.6273,21.686V39.4942"/>
    <path class="a dark:stroke-white stroke-gray-900" d="M35,26.731V39.48"/>
    <circle class="a dark:stroke-white stroke-gray-900" cx="32.1507" cy="12.5607" r="4.1047"/>
</svg>
            
<!--            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Ai</span>-->
        </a>
        <div class="flex gap-1 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <!-- Light dark button -->
            <button id="theme_change_button"
                class="bg-gray-200 dark:bg-gray-200 dark:text-black items-center justify-between hidden w-full md:flex md:w-auto rounded-md p-2 space-x-4">

                <!-- <img class="" width="20rem" th:src="@{./svg/circle-half-stroke-solid.svg}" alt="svg"> -->
                <img class="dark:block hidden" width="25" height="25" src="https://img.icons8.com/ios/50/sun.png" alt="sun"/>
                <img class="dark:hidden" width="25" height="25" src="https://img.icons8.com/ios/50/bright-moon.png" alt="bright-moon"/>
                
                <span class="font-semibold">dark</span>
            </button>
            <a data-th-href="@{/login}" type="button"
                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</a>
            <a data-th-href="@{/register}" type="button" `
                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">Signup</a>

            <button data-collapse-toggle="navbar-cta" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-cta" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>



        <!-- main menu -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 transition-all" id="navbar-cta">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a data-th-href="@{/home}"
                        class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a data-th-href="@{/about}"
                        class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                </li>
                <li>
                    <a data-th-href="@{/services}"
                        class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
                </li>
                <li>
                    <a data-th-href="@{/contact}"
                        class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>